:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 35px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

button {
  padding: 10px 20px;
}

.arrow {
  padding-bottom: 3px;
}

input {
  width: 200px;
  text-align: center;
}

.button-row {
  display: flex;
  gap: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.grid {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  overflow: auto;
  min-width: 80%;
}

.card {
  padding: 1rem 0.6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-variant-numeric: tabular-nums;
  gap: 10px;
}

.score {
  cursor: copy;
  transition: color 0.1s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
